
#cartcontainer{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}
#cartcontainer>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-bottom: 30px;
}
#cartcontainer>div>img{
    width: 80%;
}
