#navbar{
    /* border: 5px solid red; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: sticky;
}
#navt{
    
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
body{
    padding: 0px;
    margin: 0px;
}
#navt>span{
  color: orangered;
}

#navm{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}
#navml{
    display: flex;
    /* border: 1px solid purple; */
    width: 40%;
    padding-left: 80px;
}
#navmr{
    display: flex;
    /* border: 1px solid orangered; */
    width: 40%;
}
#navml img{
    width: 200px;
    padding-top: 20px;
}
#search{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center; 
}
#search>input{
    width: 300px;
    padding: 10px 20px;
}
#search>button{
    padding: 9px 20px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
#navmrleft{
    /* border: 1px solid blue; */
    padding-right: 20px;
    display: flex;
    font-size: 15px;
    align-items: center;
}
#logio{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: right;
    
}

#log{
    width: 25%;
}
#logio+p{
    /* border: 1px solid green; */
    font-weight: bold;
    margin-top: -15px;
}
#logio+p, #logio>p{
    text-align: right;
}
#cart{
    /* border: 4px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}
#countcart{
    padding-bottom: 20px;
    font-size: 15px;
}
#navl{
    /* border: 3px solid purple; */
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    
}
#navl ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0px 50px;
    
}
#navl>ul>li{
    padding: 0px 50px;
}
.fa-solid{
    padding-right: 10px;
}

*{
    text-decoration: none;
}
#navmrleft a, #logio a, #navl ul li a{
    color: black;
}
#dropdown ul{
    display: block;
    margin-top: 10px;
    background-color: transparent;
    
    background-color: white;
}
#dropdown{
    display: none;

    
}
#navl ul li:hover #dropdown{
    display: block;
    position: absolute;

}
#navl a:hover{
    color: orangered;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
